.nav {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.name{

}

.slider-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider {
    display: flex;
    gap: 15px;
    align-items: center;
}

.cover{
    width: 50px;

    margin-right: 10px;
}